# Como escrever um código limpo e boas práticas de programação.

É muito importante assistir essa aula já sabendo sobre orientação a objeto.

Nessa galáxia eu vou CAGAR regra. Siga se quiser.

In [ ]:
import pandas as pd
import numpy as np

### Nomes importam. Dê nomes pensados ao seu programa.

### Comentários são fracassos. Não seja redundante 

* Nunca, em hipótese alguma, deixe código comentado!!!!!!!

In [ ]:
#calculadora juros compostos

#passe os argumentos valor inicial, taxa em número inteiro, 
#tempo de investimento no mesmo periodo da taxa e aporte.

def funcao_juro(valor, taxa, tempo, aporte = 0):
                                            
        #lista de dataframes
        
        lista = []
        
        contador = 0

        lista.append(pd.DataFrame(data={'Acumulado': valor}, index= [0]))
        
        #criando um while que acumula os juros até o final do período

        while contador < tempo:

            if contador == 0:
                
                #calculando o valor ao final do periodo

                valor2 = valor *  (1 + taxa/100) + aporte

                contador = contador + 1

                lista.append(pd.DataFrame(data={'Acumulado': valor2}, index= [contador]))

            else:

                valor2 = valor2 * (1 + taxa/100) + aporte
                
                #arredondando valor do período
                
                valor2 = round(valor2, 0)

                contador = contador + 1

                lista.append(pd.DataFrame(data={'Acumulado': valor2}, index=[contador]))
                
        
        #contador = contador - 1
        #lista.append(100)
        #lista = ["R$" + str(numero) for numero in lista]

        
        return pd.concat(lista)

In [7]:
investimento_teste = funcao_juro(valor = 5000, taxa = 1, tempo = 36, aporte = 2000)
                                                             
investimento_teste

    Acumulado
0      5000.0
1      7050.0
2      9120.0
3     11211.0
4     13323.0
5     15456.0
6     17611.0
7     19787.0
8     21985.0
9     24205.0
10    26447.0
11    28711.0
12    30998.0
13    33308.0
14    35641.0
15    37997.0
16    40377.0
17    42781.0
18    45209.0
19    47661.0
20    50138.0
21    52639.0
22    55165.0
23    57717.0
24    60294.0
25    62897.0
26    65526.0
27    68181.0
28    70863.0
29    73572.0
30    76308.0
31    79071.0
32    81862.0
33    84681.0
34    87528.0
35    90403.0
36    93307.0

In [14]:
#Não esqueça da taxa no mesmo perído do tempo!

def calculadora_de_montante_a_cada_periodo_juros_compostos(valor_inicial, taxa, 
                                                           tempo_total_do_investimento, aporte = 0):
                                            
        
        montante_acumulado_por_periodo = []
        
        tempo_investindo = 0

        montante_acumulado_por_periodo.append(pd.DataFrame(data={'Acumulado': valor_inicial}, index= [0]))

        while tempo_investindo < tempo_total_do_investimento:

            if tempo_investindo == 0:

                valor_final_do_periodo = valor_inicial *  (1 + taxa/100) + aporte

                tempo_investindo = tempo_investindo + 1

                montante_acumulado_por_periodo.append(pd.DataFrame(data={'Acumulado': valor_final_do_periodo}, 
                                                                   index= [tempo_investindo]))

            else:

                valor_final_do_periodo = valor_final_do_periodo * (1 + taxa/100) + aporte
                
                valor_final_do_periodo = round(valor_final_do_periodo, 0)

                tempo_investindo = tempo_investindo + 1

                montante_acumulado_por_periodo.append(pd.DataFrame(
                                                                data={'Acumulado': valor_final_do_periodo}, 
                                                                   index=[tempo_investindo]))

        
        return pd.concat(montante_acumulado_por_periodo)

In [15]:
investimento_teste = calculadora_de_montante_a_cada_periodo_juros_compostos(valor_inicial = 5000, 
                                                             taxa = 1, 
                                                             tempo_total_do_investimento = 360, 
                                            aporte = 2000)

investimento_teste

     Acumulado
0       5000.0
1       7050.0
2       9120.0
3      11211.0
4      13323.0
..         ...
356  6882131.0
357  6952952.0
358  7024482.0
359  7096727.0
360  7169694.0

[361 rows x 1 columns]

# Diferenças:

* Nomes que se autoexplicam.
* Menos poluição.
* Não explique o que você está fazendo com comentários. Dê nomes que fazem isso.
* ZERO código comentado.

# Comentários adicionais sobre nomeação

* Use nomes pronunciáveis e procuráveis. 

Ninguém merece uma variável com nome polonês 

* Substitua números mágicos por constantes nomeadas.

Nada de 2 + x - y + 3, a escola já acabou.

In [16]:
# def quantidade_de_presentes_ganhos_de_natal():
    
#     presentes_ganhos = np.random.randint(10)
    
#     if presentes_ganhos < 2:
        
#         presentes_ganhos = 2
        
#     return presentes_ganhos

In [21]:
def quantidade_de_presentes_ganhos_de_natal():
    
    presentes_ganhos = np.random.randint(10)
    
    presentes_minimos = 2
    
    if presentes_ganhos < presentes_minimos:
        
        presentes_ganhos = presentes_minimos
        
    return presentes_ganhos

In [25]:
meus_presentes = quantidade_de_presentes_ganhos_de_natal()

meus_presentes

7