# Custo de capital Criptomoeda

In [ ]:
pip install cryptocmd

In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf
from cryptocmd import CmcScraper
import statsmodels.api as sm

In [ ]:
scraper = CmcScraper("BTC")
df = scraper.get_dataframe()
df = df.set_index("Date")

df

In [ ]:
tbond10 =  yf.download('IEF', "2017-01-01", "2023-04-23")['Adj Close']
tbond10 = tbond10.resample("Y").last().pct_change().dropna()
tbond10

In [ ]:
df_bitcoin_anual = df.resample("Y").last().pct_change().dropna()
df_bitcoin_anual = df_bitcoin_anual['Close']
df_bitcoin_anual = df_bitcoin_anual.loc[df_bitcoin_anual.index > "2017-12-31"]
df_bitcoin_anual

In [25]:
premio_risco = df_bitcoin_anual - tbond10
premio_risco.mean()

0.6330906997913449

In [36]:
retorno_esperado = tbond10.loc['2023-12-31'] + 0.96 * (premio_risco.mean() - tbond10.loc['2023-12-31'])

retorno_esperado

0.6091869065036786

In [32]:
scraper = CmcScraper("ETH")
df_eth = scraper.get_dataframe()
df_eth = df_eth.set_index("Date")

df_eth

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2023-04-23,1874.171514,1882.229693,1838.992406,1862.062057,6.607452e+09,2.242149e+11
2023-04-22,1849.286491,1886.781674,1845.849253,1874.228581,6.970643e+09,2.256837e+11
2023-04-21,1943.409924,1955.649121,1827.788994,1849.999846,1.204427e+10,2.227705e+11
2023-04-20,1936.417908,1979.573337,1918.132765,1943.097670,1.132414e+10,2.340051e+11
2023-04-19,2103.946363,2104.857273,1928.582892,1936.403465,1.377975e+10,2.310982e+11
...,...,...,...,...,...,...
2015-08-11,0.708087,1.131410,0.663235,1.067860,1.463100e+06,6.456929e+07
2015-08-10,0.713989,0.729854,0.636546,0.708448,4.052830e+05,4.281836e+07
2015-08-09,0.706136,0.879810,0.629191,0.701897,5.321700e+05,4.239957e+07
2015-08-08,2.793760,2.798810,0.714725,0.753325,6.741880e+05,4.548689e+07
2015-08-07,2.831620,3.536610,2.521120,2.772120,1.643290e+05,1.666106e+08

In [33]:
df_btc = df.loc[df.index >= "2015-08-07"]
df_eth = df_eth[df_eth.index >= "2015-08-07"]

In [34]:
retornos_eth = df_eth['Close'].pct_change().dropna()
retornos_btc = df_btc['Close'].pct_change().dropna()

In [35]:
X = retornos_btc
Y = retornos_eth
X = sm.add_constant(X)
model = sm.OLS(Y, X).fit()

print(model.params[1])
print(model.rsquared)

0.9633912889522324
0.23964926224468353